extends layout

block content
	h1= title
	p Why don't you go #{title}
	iframe(src="https://embed.spotify.com/?uri=spotify:user:123687452:playlist:2hByEVOOTM5IIpclWzSUBj" width="300" height="380" frameborder="0" allowtransparency="true")


